{% extends 'base.html' %}

{% block content %}

<div class="container-fluid current-order {% if editing_order %}d-none{% else %}d-block{% endif %}">
    {% include 'current_order.html' %}
</div>
<div class="container-fluid edit-order {% if editing_order %}d-block{% else %}d-none{% endif %}">
    {% include 'edit_order.html' %}
</div>

<!-- Order History Section -->
<div id="history-orders" class="container-fluid">
    {% include 'history_orders.html' %}
</div>

<ul id="pagination-btn" class="pagination justify-content-center ">
    {% if page_obj.has_previous %}
    <li>
        <a href="?page={{ page_obj.previous_page_number }}"
          class="page-link btn btn-primary">&laquo; PREV</a>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li>
        <a href="?page={{ page_obj.next_page_number }}"
          class="page-link-new btn btn-primary">NEXT &raquo;</a>
    </li>
    {% endif %}
</ul>

{% endblock %}

