@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

body {
  margin: 0.5rem;
  background-color: #f4f1ea;
}

/* -----------------------------------------------------------background color */
header {
    background-color: #f4f1ea;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    ;
}

#hero {
  background-image: url("../images/hero-bakery.jpg");
  background-size: cover;
  background-position: center center;
}

.navbar {
    background-color: #deb887;
}

.card-bg-image {
  background-image: url("../images/card-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#about {
    background-color: #fff8dc;
}

.btn-primary {
    background-color: #8b4513;
    border-color: #4b3621;
}

.btn-primary:hover {
    background-color: #a0522d;
    border-color: #4b3621;
}

.bg-color-registry {
  background-color: #deb887;
}
/* -----------------------------------------------------------general styles */
.col {
  display: flex;
  justify-content: center;
  padding: 0;
}

h1,
h2,
h3,
h5,
p {
  color: #4b3621;
}


.navbar {
  border-bottom: 2px solid #8b4513; 
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.nav-link {
  color: #4b3621 !important;
}

.nav-link:hover {
  color: #8b4513 !important;
}

.offcanvas {
  width: 200px;
}

/* ----------------------------------------------------------- nav*/

ul.nav.nav-tabs{
  border: none;
}

/* ----------------------------------------------------------- Offcanvas navigation*/
.offcanvas.offcanvas-start{
    width: 200px;
}


/* -----------------------------------------------------------Hero section */

#hero {
  height: 60vh;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/* -----------------------------------------------------------About section */
#about {
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-text {
  display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.carousel {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  margin-top: 1rem;
}

.carousel-item img {
  height: 500px;
  object-fit: cover; 
  width: 100%; 
}

.carousel-inner {
  padding: 1rem;
}

/* -----------------------------------------------------------Category cards */

.card-img-top {
  object-fit: cover;
  height: 12.5rem;
}

.card {
  background: transparent;
  width: 16rem;
  border: none;
  padding-top: 1rem;
}

.card-catagory,
.card-item {
  margin-right: 0.5rem;
}

.card-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
/* -----------------------------------------------------------product page */
.product-card {
  width: 16rem;
  padding: 1rem;
  justify-content: center;
  display: flex;
  filter: drop-shadow(5px 5px 10px #000000);
}

.product-card img {
  height: 10rem;
  border-radius: 10px;
}

.category-title {
  border-top: 1px solid #b2a27e;
  border-bottom: 1px solid #b2a27e;
  width: 80%;
  margin-top: 1rem;
}

/* -----------------------------------------------------------product_details */

.scale {
  height: 25rem;
  border-radius: 10px;
}


/* -----------------------------------------------------------registry page */

.registry-container {
  margin-top: 1rem;
  border-radius: 20px;
  padding: 1rem;
}

form input,
form button {
  margin-bottom: 1rem;

}

.input-group-text {
  height: 38px;
}

/* -----------------------------------------------------------Sign-in and Sign-out page */

.signin-form,
.signup-form {
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  background-color: #f7f1e1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.signup-form input {
  margin-left: 1rem;
}

/* -----------------------------------------------------------order page */
.current-order-title {
  border-top: 1px solid #b2a27e;
  border-bottom: 1px solid #b2a27e;
  text-align: center;
  margin-top: 1rem;
}
.order-container {
  padding: 1rem;
  border-radius: 1rem;
  width: 80%;
  background: #f1eada;
  max-height: 500px;
  overflow-y: hidden;
  overflow-x: hidden;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.scrollable-table-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd; 
  padding: 10px; 
}
.order-product {
  background: #f4f1ea;
  border-radius: 0.5rem 0.5rem 0 0;
}

.total-price {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table,
thead,
tbody,
th,
td,
tr{
  background-color: transparent !important;
}