{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="product-image">
                <img class=" img-fluid scale" src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-detail">
                <h2 class="mb-3"> {{ product.name }}</h2>
                <p class="mb-3"> {{ product.description }}</p>
            </div>
            {% if user.is_authenticated and not user.is_superuser %}
            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="quantity">Quantity</label>
                    </div>
                    <input id="quantity" type="number" name="quantity" value="1" min="1" max="10">
                </div>
                <button type="submit" class="btn btn-primary" >Add to Cart</button>
            </form>
            {% else %}
            <a class="btn btn-primary" aria-current="page" href="{% url 'account_login' %}">Login to order</a>
            {% endif %}

        </div>

        
    </div>
</div>

{% endblock %}